<div class="payment-container">
  @if(isLoading()) {
  <div class="loading">
    <div class="loading"></div>
    <p>Učitavanje metoda plaćanja...</p>
  </div>
  } @else {
  <div class="payment-card">
    <h2>Izaberite način plaćanja</h2>
    <p class="subtitle">Molimo vas da izaberete način plaćanja za završetak transakcije</p>

    <div class="payment-methods">
      <div *ngFor="let method of paymentMethods()" class="payment-method-card" (click)="selectedPaymentMethod(method)">
        <div class="method-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
            <line x1="1" y1="10" x2="23" y2="10"></line>
          </svg>
        </div>
        <div class="method-details">
          <h3>{{ method }}</h3>
          <!-- <p>Visa, Mastercard</p> -->
        </div>
        <div class="method-arrow">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        </div>
      </div>
    </div>
  </div>
  }
</div>